*{
    padding: 0px;
    margin: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

main{
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.container
{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    margin: auto;
    box-shadow: 4px 4px 5px hsl(241, 100%, 89%);
}
.column-1{
    background:linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%)); 
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.row1-1{
    color:hsl(241, 100%, 89%);
    margin-top: 20px;
}
.row1-2{
    border-radius: 50%;
    background: linear-gradient(to bottom,hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)) ;
    width: 100px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
}
#arithmetic-mean{
    color: white;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
}
.row1-3{
    color:white;
}
.row1-3 p{
    font-size: 24px;
}
.row1-4{
    color: hsl(241, 100%, 89%);
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.row1-4 p{
    font-size: 14px;
}

/*    column2*/
.column-2{
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/*.row2{
    height: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
}  */
.row2a , .row2b ,.row2c ,.row2d {
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.row2a{
    background:linear-gradient( hsla(0, 100%, 67%, 0.1), hsla(0, 100%, 67%, 0.2));
    color: hsla(0, 100%, 67%);
}
.row2b{
    background: linear-gradient(hsla(39, 100%, 56%,0.1),hsla(39, 100%, 56%,0.2));
    color: hsl(39, 100%, 56%) ;
}
.row2c{
    background: linear-gradient(hsla(166, 100%, 37%,0.1),hsla(166, 100%, 37%,0.2));
    color:hsl(166, 100%, 37%);
}
.row2d{
    background: linear-gradient(hsla(234, 85%, 45%,0.1),hsla(234, 85%, 45%,0.2));
    color:hsl(234, 85%, 45%);
}  

.score {
    color: hsl(224, 30%, 27%);
}
.finalScore{
    color: hsl(241, 100%, 89%);
}
.separate{ 
    width: 30px;
    height: 10px;
}
.row3-2{
    height: 40px;
    margin-bottom: 30px;
    text-align: center;
    background-color: hsl(224, 30%, 27%);
    border-radius: 30px;
    display: flex;
}
.row3-2 a{
    text-decoration: none;
    color: white;
    margin: auto;
}
.row3-2:hover{
    cursor: pointer;
    background:linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%)) ;
    
}

@media only screen and (max-width:400px) {
    .container{
        height: 700px;
        width: 100%;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        text-shadow: none;
        justify-content: flex-start;
    }
    .column-1{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: 100%;
        
    }
    .column-2{
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }
        .row2a,.row2b,.row2c,.row2d{
            margin-bottom: 10px;
        }
        .row2a{
            margin-top: 10px;
        }
}